//colors

// $color-primary: #cf383e; is used in green-audio-player 
$color-primary: var(--player-color);

$color-light: #fff;
$color-unactive: #bfbfbf;
$color-dark: #131313;
$color-transparent: rgba(0,0,0,0);

$color-dropshadow: rgba(0,0,0,0.39);
$gradient-background: linear-gradient(0deg, $color-dark, $color-transparent);
