// img links
$img-background: url("/images/background.avif");// ,url("/images/background.jpg");
$img-artist: url("/images/artist.avif");//,url("/images/artist.jpg");
$img-subscribe: url("/images/subscribe.avif");//, url("/images/subscribe.jpg");

// fonts links
$font-link-black: url('/fonts/SourceSansPro-Black.ttf');
$font-link-bold: url('/fonts/SourceSansPro-Bold.ttf');
$font-link-regular: url('/fonts/SourceSansPro-Regular.ttf');
$font-link-semibold: url('/fonts/SourceSansPro-Semibold.ttf');