//Variables

//Fonts names
$font-black: 'Source-Sans-Pro-Black';
$font-bold: 'Source-Sans-Pro-Bold';
$font-regular: 'Source-Sans-Pro-Regular';
$font-semibold: 'Source-Sans-Pro-Semibold';

//Header
$font-size-title: 200px;
$font-size-subtitle: 36px;
$font-spacing-tittle: 120px;
$font-spacing-subtittle: 11px;

//Navigation
$font-size-nav: 30px;
$font-spacing-nav: 2px;
$font-line-height-nav: 27px;
$menu-links-spacing: 105px;

//Footer
$font-size-footer: 20px;
$font-spacing-footer: 4px;


//Font weights
$font-weight-900: 900;
$font-weight-600: 600;
$font-weight-400: 400;
//Main page variables

$padding-block-global: 10rem;