@use '../abstracts/' as a;

$input-width: clamp( 250px, 50dvw ,355px);

.search-page {
  display: none;

  .search-result .active {
    display: block;
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search-options {
    margin-bottom: 4rem;

    label {
      font-family: a.$font-semibold;
      font-size: a.$font-size-30;
      letter-spacing: a.$font-spacing-6;
      line-height: a.$font-line-height-27;
      color: a.$color-unactive;
      font-weight: a.$font-weight-600;
      margin-right: 2rem;
    }

    select {
      appearance: none;
      width: calc($input-width + 2rem);
    }

    input{
      width: $input-width;
    }

    input,
    select {

      height: 59px;
      border: 0;
      border-radius: a.$border-radius-04;
      margin-right: 2rem;
      padding-inline: 1rem;
    }

  }
}

.search-result {
  display: none;
  margin-top: 5.65rem;
  margin-bottom: 3.2rem;
  text-align: center;
  font-size: a.$font-size-30;
  font-family: a.$font-semibold;
  letter-spacing: a.$font-spacing-6;
  line-height: a.$font-line-height-27;
  font-weight: a.$font-weight-600;
}

@media screen and (max-width: 1200px) {
  .search-container {
    .search-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      label {
        margin: 0;
      }

      input,
      select {
        margin: 0;
        margin-right: 0;
      }
    }

    .btn-search {
      width: calc($input-width + 2rem);
    }

  }
}