@use '../abstracts/' as a;

// Global

*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: a.$color-dark;
  color: a.$color-light;

}

.uppercase {
  text-transform: uppercase;
}

// Header 

.main-title {
  $font-size-title: clamp( 3rem, 10dvw, a.$font-size-200);
  $font-spacing-title: clamp( 0.7rem, 10dvw, a.$font-spacing-124);
  font-family: a.$font-black;
  font-size: $font-size-title;
  font-weight: a.$font-weight-900;
  letter-spacing: $font-spacing-title;
  display: block;
  opacity: 1;
  
  filter: drop-shadow(0 0 71px a.$color-dropshadow);
  //counteracting to the last letter spacing
  text-align: right;
  margin-right: calc(-1 * $font-spacing-title / 1.55);
  margin-bottom: 0;
}

.main-subtitle {
  $font-spacing-subtittle: clamp( 0.7rem, 10dvw, a.$font-spacing-11);
  $font-size-subtitle: clamp( 0.8rem, 5dvw, a.$font-size-36);
  font-family: a.$font-black;
  font-size: $font-size-subtitle;
  font-weight: a.$font-weight-900;
  letter-spacing: $font-spacing-subtittle;
  line-height: 72px;
  margin-top: 0.5rem;
  margin-bottom: 6rem;
  //counteracting to the last letter spacing
  margin-right: calc($font-spacing-subtittle * 3);

  &.upercase {
    text-transform: uppercase;
  }

  span { 
    display: block;
  }
}

.header-main {
  background-image: a.$gradient-background,
    a.$img-background;
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  
}

.wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

//navigation

.navigation-wrapper {
  $font-size-nav: clamp( 1rem, 5dvw, a.$font-size-30);
  padding-top: a.$padding-top-3_5rem;
  padding-bottom: a.$padding-bottom-4_25rem;
  display: flex;
  justify-content: center;
  text-align: left;

  .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    //gap: clamp(1rem, 5dvw, a.$font-spacing-105);

    li{
      width: clamp( 70px, 10dvw, 180px);
      margin-inline: 1.14rem;

      a {
        text-decoration: none;
        color: a.$color-unactive;
        font-family: a.$font-semibold;
        font-size: $font-size-nav;
        letter-spacing: a.$font-spacing-2;
        line-height: a.$font-line-height-27;
        
        font-weight: a.$font-weight-600;
      }

      a:hover {
        color: a.$color-light;
      }

      a.active {
        color: a.$color-light;
      }
    }
  }
}

//footer

.footer-main {
  font-family: a.$font-regular;
  font-size: a.$font-size-20;
  letter-spacing: a.$font-spacing-4;
  line-height: a.$font-line-height-27;
  font-weight: a.$font-weight-400;
  text-align: center;
  padding-block: 0.8rem;

  p {
    margin-top: 1.5rem;
  }
}

//player

.player-wrapper.hidden {
  display: none;
}

.player-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    text-align: center;
    align-self: center;
    font-family: a.$font-semibold;
    font-size: clamp(1rem, 5dvw,a.$font-size-30);
    letter-spacing: a.$font-spacing-2;
    line-height: a.$font-line-height-27;
    
    font-weight: a.$font-weight-600;
    margin-bottom: 3.75rem;
  }

  .player {
    margin-bottom: 0.3rem;
  }

  .song-info {
    width: a.$player-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    font-family: a.$font-regular;
    font-size: a.$font-size-20;
    letter-spacing: a.$font-spacing-2;
    line-height: a.$font-line-height-27;
    font-weight: a.$font-weight-400;
    color: a.$color-unactive;
    margin-bottom: 0.8rem;

    p:last-child {
      text-align: right;
    }
  }
}

.main-content .active {
  display: grid;
}

.songs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .navigation-wrapper{
    text-align: center;

    .nav-links{
      li{
        width: 100%;
      }
    }
  }

}